@import "./css/reset.css";
@import "./css/fonts.css";


body{
  background: $cream;
  font-family: $text-font;
  &:has(div > .modal) {
    overflow: hidden;
  }
}

.wd-icon{
  font-family: 'FontAwesome';
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  &:before{
    width: 100%;
    height: 100%;
    font-size: 24px;
    position: absolute;
    font-family: 'FontAwesome';
  }
  &.bars:before{
    content: '\f0c9';
  }
}
.base{
  &_link{
    text-decoration: none;
    color: inherit;
  }
  &_image{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
  }
}
textarea.input_wide{
  resize: none;
  min-height: 80px;
}
input[type=number].input_wide{
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button{
    display: none;
  }
}
input[type=file].input_wide{
  position: relative;
  visibility: hidden;
  &:before{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 15px;
    z-index: 6;
    top: calc(50% - 13px);
    content: '\f0c6';
    font-family: 'FontAwesome';
    font-size: 20px;
    color: $grey;
    visibility: visible;
  }
  &:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    content: attr(placeholder);
    padding: 0 12px;
    padding-left: 40px;
    font-size: 14px;
    color: $grey;
    font-family: $text-font;
    line-height: 40px;
    box-sizing: border-box;
    visibility: visible;
    cursor: pointer;
  }
}
.input_wide{
  width: 100%;
  padding: 12px;
  background: none;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  &::placeholder{
    font-size: 14px;
    color: $grey;
    font-family: $text-font;
  }
}
.inv_input{
  position: absolute;
  visibility: hidden;
}
.btn{
  &_submit{
    color: $white;
    display: block;
    box-sizing: border-box;
    background: $black;
    border-radius: 12px;
    letter-spacing: .02em;
    font-weight: 800;
    padding: 14px;
    width: 100%;
    font-family: $text-font;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    &:disabled{
      background: rgba($color: $black, $alpha: .6);
      cursor: not-allowed;
    }
    &.alt{
      background: $red;
      &:disabled{
        background: rgba($color: $red, $alpha: .6);
      }
      &.white{
        background: $white;
        color: $red;
      }
    }
    &.small{
      background: $red-gradient;
      border-radius: 10px;
      height: 41px;
      padding: 12px;
      position: relative;
      width: auto;
      &:after{
        position: relative;
        content: '→';
        font-family: $text-font;
        font-size: 20px;
        width: 20px;
        height: 10px;
        // top: calc(50% - 13.5px);
        left: calc(50% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.ss{
  user-select: none;
}
